*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #f0f0f0;
}

/* Container */

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 260px;
    transition: 0.2s;
}

.active{
    margin-top: 50px;
    height: 500px;
}

/* header */

#qr-header{
    text-align: center;
}

#qr-header h1{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#qr-header p{
    font-size: .9rem;
    color: #666;
}

/* form */

#qr-form{
    margin: 20px 15px;
}

#qr-input,
#generate-btn{
    width: 100%;
    height: 55px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

#qr-input{
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin-bottom: 20px;
}

#generate-btn{
    border: none;
    transition: 0.2s;
}

#generate-btn:hover{
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    
}

#qr-code-img{
    display: flex;
    opacity: 0;
    /* border: 1px solid #ccc; */
    padding: 30px 0;
    margin: 20px 15px;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.container.active #qr-code-img{
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.2s;
}